<div v-if="option" v-bind:class="ns + 'checkbox'">
  <input type="checkbox"
    v-model="currentValue"
    v-bind:id="'checkbox-' + _uid"
    v-bind:name="name"
    v-bind:value="option.value"
    v-bind:disabled="disabled"
    v-on:change="onChange" />
  <label v-bind:for="'checkbox-' + _uid">
    <i class="fa fa-check-square-o"></i>
    <span>{{ option.title || option.value }}</span>
  </label>
</div>

<div v-else v-bind:class="ns + 'checkboxs'">
  <div v-for="(option, index) in options"
    v-bind:class="ns + (inline ? 'checkbox-inline' : 'checkbox')">
    <input type="checkbox"
      v-model="currentValue"
      v-bind:id="'checkbox-' + _uid + '-' + index"
      v-bind:name="name"
      v-bind:value="option.value"
      v-bind:disabled="disabled"
      v-on:change="onChange" />
    <label v-bind:for="'checkbox-' + _uid + '-' + index">
      <i class="fa fa-check-square-o"></i>
      <span>{{ option.title || option.value }}</span>
    </label>
  </div>
</div>
