<div v-bind:class="ns + 'form-group'">
  <label v-if="title"
    v-bind:class="ns + 'control-label'"
    v-bind:style="{width: titleWidth}">{{title}}</label>
  <template v-if="inline">
    <label v-bind:class="ns + 'radio-inline'" v-for="item in items">
      <input type="radio"
        v-bind:name="name"
        v-bind:value="item.value"
        v-model="model"
        v-on:change="updateValue($event.target.value)" /> {{item.title}}
    </label>
  </template>
  <template v-else>
    <div v-bind:class="ns + 'radio'" v-for="item in items">
      <label>
        <input type="radio"
          v-bind:name="name"
          v-bind:value="item.value"
          v-model="model"v-on:change="updateValue($event.target.value)" /> {{item.title}}
      </label>
    </div>
  </template>
</div>
