<transition name="ci">
  <div v-bind:class="ns + 'modal'">
    <div v-bind:class="ns + 'modal-actions'">
      <div v-bind:class="ns + 'modal-actions-group'">
        <ul class="am-list">
          <li v-for="(item, index) in items"
            v-bind:class="[
              item.className,
              (currentIndex == index) ? (ns + 'active') : ''
            ]"
            v-on:click="itemOnClick(index, item)">
            <router-link v-if="item.to" v-bind:to="item.to">{{item.text}}</router-link>
            <a v-else href="javascript:;">{{item.text}}</a>
          </li>
        </ul>
      </div>

      <div v-bind:class="ns + 'modal-actions-group'">
        <a v-bind:class="[
            ns + 'btn',
            ns + 'btn-default',
            ns + 'btn-block'
          ]" href="javasrcript:;"
          v-on:click="cancelButtonOnClick">{{cancelText}}</a>
      </div>
    </div>

    <div v-bind:class="ns + 'dimmer'" v-on:click="modalOnClick"></div>
  </div>
</transition>
