/**
 * @fileoverview ci-form
 * @author: burning <www.cafeinit.com>
 * @version: 2016-08-19
 */


.ci-form-group {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0 0 1em 0;
  line-height: 1.625em;
}

// .ci-label {
//   padding: 0;
//   margin: 0 0.5em 0 0;
//   min-width: 2em;
//   font-weight: normal;
// }

@input-color: @color-gray;
@input-border-color: @color-border;

.ci-control-label {
  min-width: 2em;
  padding: 0.25em 0;
  margin-right: 0.75em;
}

.ci-form-control {
  flex: 1;
  width: 100%;

  color: @input-color;
  vertical-align: middle;
  line-height: inherit;
}

input.ci-form-control,
select.ci-form-control {
  appearance: none;
  padding: 0.25em 0.5em;
  margin: 0;
  border: 1px solid @input-border-color;
  border-radius: 0;
  outline: 0;

  background-color: transparent;
}


.ci-list-radio {
  .ci-radio {
    float: right;
  }
}

.ci-list {
  .form-group {
    margin-bottom: 0;
  }
}

@import "./ci-number";
@import "./ci-radio";
@import "./ci-switch";



// /* for bootstrap */
// .form-control-focus(@color: @input-border-focus) {
//   @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
//   &:focus {
//     border-color: @color;
//     outline: 0;
//     .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
//   }
// }
//
// .form-control {
//   .form-control-focus(@color-primary);
// }
