/**
 * @fileoverview ci-modal
 * @author: burning <www.cafeinit.com>
 * @version: 2016-11-28
 */

.ci-modal {
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: opacity .3s ease;

  &:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.ci-modal-container {
  z-index: 1500;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  max-width: 100%;
  margin: auto;
  transition: all 0.3s ease;
}

.ci-enter, .ci-leave-active {
  opacity: 0;

  .ci-modal-container {
    transform: scale(0.75);
  }
}
