/**
 * @fileoverview ci-number
 * @author: burning <www.cafeinit.com>
 * @version: 2016-12-06
 */

.@{ns}number {
  @size: 36px;

  display: inline-block;
  overflow: hidden;
  // padding: 0.25em;
  border: 1px solid #ddd;
  font-size: @font-size-small;

  .@{ns}btn {
    display: block;
  }

  .@{ns}btn-minus {
    float: left;
  }

  .@{ns}btn-plus {
    float: right;
  }

  &-input {
    width: 5em!important;
    border: none!important;
    text-align: center;
  }
}
