/**
 * @fileoverview ci-radio
 * @author: burning <www.cafeinit.com>
 * @version: 2016-11-21
 */

.am-radio,
.am-radio-inline {
  position: relative;
  overflow: hidden;
  padding-left: 0;

  input[type=radio] {
    position: absolute;
    left: -500px;
    margin: 0;
  }

  input[type=radio]:checked+i:before {
    color: @color-primary;
  }

  i {
    float: left;
    margin: 0 5px;
    font-size: 1.5em;
  }
}
