/**
 * @fileoverview ci-radio
 * @author: burning <www.cafeinit.com>
 * @version: 2016-11-21
 */

.@{ns}checkbox,
.@{ns}checkbox-inline,
.@{ns}radio,
.@{ns}radio-inline {
  position: relative;
  overflow: hidden;
  padding: 0.25em;

  input {
    position: absolute;
    left: -500px;
  }

  input:checked+i:before {
    color: @color-primary;
  }

  i {
    font-size: 1.25em;
  }
}

.@{ns}checkbox,
.@{ns}radio {
  display: block;
  // margin-bottom: 0.5em;
}

.@{ns}checkbox-inline,
.@{ns}radio-inline {
  display: inline-block;
  margin-right: 1em;
}
